@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
